<h1>Looking for a movies?</h1>

<form action="/movies" method="get">
  <label for="query">Search: </label>
  <input type="text" name="query" id="query" />
  <input type="submit" value="Search" />
</form>
